@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

#education, #qualifications {
    margin-top: 0;
    display: inline-block;
    width: 50%;
    text-align: center;
}

.timeline-container {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    margin-left: 2.5%;
    margin-top: 5%;
    width: 95%;
    overflow: hidden;
}

h3, h4, h5, p {
    padding-left: 2.5%;
    text-align: center;
}

.grid-container {
    display: grid;
    justify-content: stretch;
    grid-gap: 0 2px;
}

#education-grid {
    margin-right: -30%;
    grid-template-columns: 2fr 40px 1.5fr;
    transition: all 1s;
}

#qualifications-grid {
    margin-left: -20%;
    grid-template-columns: 1f 40px 6fr;
    transition: all 1s;
}

#qualifications-education_items, #education_items{
    margin: 1%;
    background-color: white;
    z-index: 0;
}
.timeline_education-highschool {
    grid-column: 1 / 2;
    grid-row: 2 / 6;
    justify-self: start;
    border: 2px solid #40275979;
}

.timeline_education-valencia {
    grid-column: 1 / 2;
    grid-row: 6 / 14;
    justify-self: start;
    border: 2px solid #40275979;
}

.timeline_education-exchangeUSA {
    grid-column: 1 / 2;
    grid-row: 11 / 12;
    justify-self: end;
    border: 2px solid #40275979;
}

.timeline_education-stadler {
    grid-column: 1 / 2;
    grid-row: 12 / 13;
    width: 50%;
    border: 2px solid #3333ff85;
    justify-self: end;
}
.timeline_education-exchangeAMS {
    grid-column: 1 / 2;
    grid-row: 13 / 14;
    width: 50%;
    justify-self: end;
    border: 2px solid #40275979;
}


#qualifications-education_items {
    width: 100%;
    opacity: 0.5;
    transition: all 1s;
}

#education_items {
    width: 50%;
    opacity: 1;
    transition: all 1s;
}

#qualifications-education_items h3, #qualifications-education_items h4, #qualifications-education_items p {
    transition: all 1s;
}
.timeline-year{
    grid-column: 2 / 3 ;
    grid-row: span 2;
    border-left: 2px solid black;
    text-align: center;
    color: #592740;
}

.timeline_qualifications-container{
    grid-column: 3 / 4 ;
    padding-right: 1%;
    grid-row: span 2;
    /* background-color: blue; */
}

.timeline_qualifications-container p{
    text-align: justify;
    margin-top: 0;
    /* background-color: red; */
}
@media only screen and (min-width: 500px) {
    /* Desktop Version */
    .timeline-container {
        margin: 5%;
        width: 90%;
    }
    #qualifications-grid {
        margin-left: 0%;
        margin-right: 0%;
        grid-template-columns: 45fr 40px 35fr;
        grid-gap: 0px 5px;
    }
    #education-grid {
        margin-left: 0%;
        margin-right: 0%;
        grid-template-columns: 35fr 40px 45fr;
        grid-gap: 0px 5px;
    }
    
    #qualifications-education_items {
        width: 50%;
    }
    
    #education_items {
        width: 50%;
    }
}

  
@media only screen and (min-width: 1000px) {
    /* Big screen */
    .timeline-container {
        margin: 5%;
        width: 90%;
    }
    #education-grid {
        margin-left: 0%;
        margin-right: 0%;
        grid-template-columns: 45fr 40px 35fr;
        grid-gap: 0px 5px;
    }
    #qualifications-grid {
        margin-left: 0%;
        margin-right: 0%;
        grid-template-columns: 35fr 40px 45fr;
        grid-gap: 0px 5px;
    }

    #qualifications-education_items {
        width: 50%;
    }
    
    #education_items {
        width: 50%;
    }
}
