.timeline-container {
    margin: 5%;
    width: 90%;
}

.grid-container {
    display: grid;
    align-content: stretch;
    grid-template-columns: 25fr 20fr 5fr 45fr;
    grid-gap: 0px 5px;
}

.timeline_education-highschool, .timeline_education-valencia, .timeline_education-exchange {
    margin: 1%;
    background-color: rgba(102, 102, 102, 0.26);
}
.timeline_education-highschool {
    grid-column: 1 / 2;
    grid-row: span 4;
}

.timeline_education-valencia {
    grid-column: 1 / 2;
    grid-row: span 8;
}

.timeline_education-exchange {
    grid-column: 2 / 3;
    align-self: stretch;
}

.timeline-year{
    grid-column: 3 / 4 ;
    grid-row: span 2;
    border-left: 2px solid black;
    text-align: center;
}

.timeline_qualifications-container{
    grid-column: 4 / 5 ;
    grid-row: span 2;
}